

/*** Section Title ***/
.SectionTitle {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--accent-color);
}

.SectionTitle span:first-child,
.SectionTitle span:last-child {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    width: 30px;
    height: 2px;
}

.SectionTitle span:last-child {
    margin-right: 0;
    margin-left: 30px;
}

.SectionTitle span:first-child::after,
.SectionTitle span:last-child::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    top: 0;
    right: -20px;
}

.SectionTitle span:last-child::after {
    right: auto;
    left: -20px;
}

.SectionTitle span:first-child,
.SectionTitle span:last-child,
.SectionTitle span:first-child::after,
.SectionTitle span:last-child::after {
    background: var(--accent-color);
}


/*** Service ***/

.Header {
    color: var(--text-color) !important;
    transition: .5s;
}

.serviceItem {
    position: relative;
    padding: 45px 30px;
    background: var(--card-bg-color);
    color: var(--text-color);
    overflow: hidden;
    transition: .5s;
}

.Title {
    color: var(--text-color) !important;
}

.serviceItem:hover {
    margin-top: -15px;
    padding-bottom: 60px;
    background: var(--primary-color);
    border: 0.5px solid var(--surface-color);
    box-shadow: 0 0 10px var(--surface-color);
}

.serviceItem .serviceIcon {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background: url(/img/blob-primary.png) center center no-repeat;
    background-size: contain;
    transition: .5s;
}

.serviceItem:hover .serviceIcon {
    color: var(--accent-color);
    background: url(/img/blob-secondary.png) center center no-repeat;
    background-size: contain;
}
.serviceItem .IconColor {
    color: var(--text-color);
}

.serviceItem:hover .IconColor {
    color: var(--primary-color);
}

.serviceItem h5,
.serviceItem p {
    transition: .5s;
}

.serviceItem:hover h5,
.serviceItem:hover p {
    color: var(--text-color);
}

.serviceItem .KnowMore {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
    background: #fff;
    border-radius: 40px 40px 0 0;
    transition: .5s;
    z-index: 1;
}

.serviceItem .KnowMore:hover {
    color: var(--text-color);
    background: var(--accent-color);
    box-shadow: none;
}

.serviceItem:hover .KnowMore {
    bottom: 0;
}