
/*** Hero Header ***/
.heroHeader {
    margin-bottom: 6rem;
    padding: 18rem 0;
    background:
        url(/img/blob-top-left.png),
        url(/img/blob-top-right.png),
        url(/img/blob-center.png),
        url(/img/bg-bottom.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        center center,
        center bottom;
    background-repeat: no-repeat;
    background-color: var(--primary-color) !important;
    transition: background-color 0.3s;
}

[data-theme='dark'] .heroHeader {
    margin-bottom: 6rem;
    padding: 18rem 0;
    background:
        url(/img/blob-top-left.png),
        url(/img/blob-top-right.png),
        url(/img/blob-center.png),
        url(/img/bg-black-bottom.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        center center,
        center bottom;
    background-repeat: no-repeat;
    background-color: var(--primary-color) !important;
    transition: background-color 0.3s;
}

@media (max-width: 991.98px) {
    .heroHeader {
        padding: 6rem 0 9rem 0;
    }
}

.TextLg {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInDown;
    color: var(--white-color) !important;
    transition: color 0.3s;
}

.TextSm {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInDown;
    color: var(--white-color) !important;
    transition: color 0.3s;
}

.ReadMore {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInLeft;
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.ReadMore:hover, .ReadMore:active {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.ContactUs {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: slideInRight;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: none;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.ContactUs:hover, .ContactUs:active {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.Image {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: ZoomIn;
}

@keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    
    100% {
        transform: translateZ(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    100% {
        transform: translateZ(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    
    100% {
        transform: translateZ(0);
    }
}

@keyframes ZoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    
    50% {
        opacity: 1;
    }
}