/*** Navbar ***/
.navbar .dropdownToggle::after {
    border: none;
    content: "";
}

.navbarLight {
    background-color: var(--primary-color);
}

.navbarLight .navbarNav .navLink {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--navbar-color) !important;
    outline: none;
    visibility: visible;
    transition: .5s;
}

.stickyTop.navbarLight .navbarNav .navLink {
    padding: 20px 0;
    color: var(--navbar-color) !important;
}

.navbarLight .navbarNav .navLink:hover,
.navbarLight .navbarNav .navLink.active {
    color: var(--accent-color) !important;
}

.navbarLight .navbarBrand h1 {
    color: var(--navbar-color);
    transition: color 0.3s;
    transition: .5s;
}

.navbarLight .navbarBrand img {
    max-height: 60px;
    transition: .5s;
}

.stickyTop.navbarLight .navbarBrand img {
    max-height: 45px;
}

.Toggler {
    color: var(--navbar-color) !important;
    border: 1px solid var(--navbar-color) !important;
    border-radius: 10px !important;
}

.Toggler:focus {
    border: 1.1px solid var(--background-navbar-color) !important;
}

@media (max-width: 991.98px) {
    .stickyTop.navbarLight {
        position: relative;
        background: var(--background-navbar-color);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        transition: .5s;
    }

    .navbarLight .navbarCollapse {
        margin-top: 15px;
        border-top: 1px solid var(--border-color);
        transition: .5s;
    }

    .navbarLight .navbarNav .navLink,
    .stickyTop.navbarLight .navbarNav .navLink {
        padding: 10px 0;
        margin-left: 0;
        color: var(--navbar-color) !important;
    }

    .navbarLight .navbarBrand h1 {
        color: var(--navbar-color);
    }

    .navbarLight .navbarBrand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbarLight {
        position: absolute !important;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid var(--border-color-faded);
        z-index: 999;
        transition: .5s;
    }

    .stickyTop.navbarLight {
        position: fixed !important;
        background: var(--background-navbar-color);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        transition: .5s;
    }

    .stickyTop.navbarLight .navbarBrand h1 {
        color: var(--navbar-color);
    }

    .navbarLight .navbarNav .navItem .dropdownMenu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbarLight .navbarNav .navItem:hover .dropdownMenu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .navbarLight .btn {
        color: var(--text-color);
        background: var(--background-color);
        transition: .5s;
    }

    .stickyTop.navbarLight .btn {
        color: var(--text-color);
        background: var(--accent-color);
    }
}

.getStarted {
    color: var(--navbar-color);
    background-color: var(--accent-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 50rem;
    margin-left: 1rem;
    display: none;
    visibility: visible;
    font-weight: bold;
    transition: .5s;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    text-wrap: nowrap;
}

@media (min-width: 992px) {
    .getStarted {
        display: block;
    }
}

.getStarted:hover,
.getStarted:active {
    color: var(--accent-color) !important;
    background-color: var(--navbar-color) !important;
}