/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 9rem;
    background-color: var(--primary-color) !important;
    background:
        url(/img/bg-top.png),
        url(/img/map.png);
    background-position:
        center top,
        center center;
    background-size: contain, auto;
    background-repeat: no-repeat;
}

[data-theme='dark'] .footer {
    margin-top: 6rem;
    padding-top: 9rem;
    background-color: var(--primary-color) !important;
    background:
        url(/img/bg-black-top.png),
        url(/img/map.png);
    background-position:
        center top,
        center center;
    background-size: contain, auto;
    background-repeat: no-repeat;
}

.footer .btnSocial {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btnSocial:hover {
    color: var(--primary-color);
    box-shadow: none;
}

.footer .btnLink {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--white-color);
    font-weight: normal;
    transition: .3s;
}

.footer .btnLink::before {
    position: relative;
    content: "\27A4";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btnLink:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--accent-color);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--white-color);
}

.footer .footerMenu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footerMenu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
 
.footer .copyright a:hover,
.footer .footerMenu a:hover {
    color: var(--white-color);
}

/*** Section Title ***/
.SectionTitle {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-color) !important;
}

.SectionTitle span:first-child,
.SectionTitle span:last-child {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    width: 30px;
    height: 2px;
}

.SectionTitle span:last-child {
    margin-right: 0;
    margin-left: 30px;
}

.SectionTitle span:first-child::after,
.SectionTitle span:last-child::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    top: 0;
    right: -20px;
}

.SectionTitle span:last-child::after {
    right: auto;
    left: -20px;
}

.SectionTitle span:first-child,
.SectionTitle span:last-child,
.SectionTitle span:first-child::after,
.SectionTitle span:last-child::after {
    background: var(--white-color);
}

.Color {
    color: var(--white-color);
}

@media (min-width: 1200px) {
    .footer {
        margin-top: 6vw;
        padding-top: 9vw;
    }
    .SectionTitle {
        font-size: 1.2vw;
    }
    .Color {
        font-size: 1vw;
    }
}