/*** Section Title ***/
.SectionTitle {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--accent-color);
}

.SectionTitle span:first-child,
.SectionTitle span:last-child {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    width: 30px;
    height: 2px;
}

.SectionTitle span:last-child {
    margin-right: 0;
    margin-left: 30px;
}

.SectionTitle span:first-child::after,
.SectionTitle span:last-child::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    top: 0;
    right: -20px;
}

.SectionTitle span:last-child::after {
    right: auto;
    left: -20px;
}

.SectionTitle span:first-child,
.SectionTitle span:last-child,
.SectionTitle span:first-child::after,
.SectionTitle span:last-child::after {
    background: var(--accent-color);
}

.Title {
    color: var(--text-color);
}

@media (min-width: 1200px) {
    .SectionTitle {
        font-size: 1.2vw;
    }

    .Title {
        font-size: 2vw;
    }
}