.ThemeBtn {
    background-color: var(--background-navbar-color) !important;
    visibility: visible;
    font-weight: bold;
    box-shadow: 0 0 10px var(--secondary-color) !important;
    transition: 0.5s;
}

.ThemeBtn:hover {
    background-color: var(--navbar-color) !important;
}

.IconSvg {
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 1200px)
{
    .IconSvg {
        width: 2.3vw;
        height: 2.3vw;
    }
}