.ThemeBtn {
    color: var(--text-color);
    background-color: var(--navbar-color);
    visibility: visible;
    font-weight: bold;
    box-shadow: 0 0 10px var(--text-color2) !important;
    transition: 0.5s;
}

.ThemeBtn:hover {
    color: var(--text-color);
    background-color: var(--card-bg-color);
}