
.fact {
    margin: 6rem 0;
    background:
        url(/img/blob-top-left.png),
        url(/img/blob-top-right.png),
        url(/img/blob-bottom-left.png),
        url(/img/blob-bottom-right.png),
        url(/img/blob-center.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center;
    background-repeat: no-repeat;
    background-color: var(--primary-color) !important;
    animation-name: fadeInUp;
}

.Animate {
    animation-name: fadeIn;
    color: var(--accent-color) !important;
}

.TextColor {
    color: var(--white-color) !important;
}

.FontAwesomeIcon {
    margin-bottom: 0.5rem;
    height: "auto";
    width: "4em";
    display: "inline";
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    
    100% {
        opacity: 1;
        transform: none;
    }
}